@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "theme.css";
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

#root {
    height: 100vh;
}

body {
    margin: 0;
    font-size: 17px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #2d3233;
}

.error-text,
.loading-text {
    text-align: center;
    color: #c44e36;
    font-size: 18px;
    font-weight: 800;
}

.not-found-container {
    padding: 80px;
    width: auto;
    height: 400px;
}

.not-found,
.not-found-text {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}

@media screen and (max-width: 1400px) {
    #root {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 750px) {
    #root {
        padding-left: 0px;
        padding-right: 0px;
    }
}